<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.div.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".DivolHomeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.SharedFromUsersActivity"></activity>
        <activity android:name=".ui.activity.SharedRoomsActivity" />
        <activity android:name=".ui.activity.SelectRoomsActivity" />
        <activity android:name=".ui.activity.AddScheduleActivity" />
        <activity android:name=".ui.activity.ScheduleListActivity" />
        <activity android:name=".ui.activity.ConnectDeviceActivity" />
        <activity android:name=".ui.activity.WifiSettingsActivity" />
        <activity android:name=".ui.activity.AddApplianceActivity" />
        <activity android:name=".ui.activity.BecomeMemberActivity" />
        <activity android:name=".ui.activity.AddMemberActivity" />
        <activity android:name=".ui.activity.AddRoomActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.GoogleAlexaSetupActivity" />
        <activity
            android:name=".ui.activity.MagicRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebUrlViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.SetTimerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.FamilyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.BuyPageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.MagicRoomStatic"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.WifiSettings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.RestoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.AuthActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.activity.HomeScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>